.games-table-wrapper {
  max-width: 1000px;
  min-height: 600px;
  padding: 40px;
  margin: 0 auto;
  color: #20232a;
}
.games-table-title {
  text-align: center;
  margin-bottom: 30px;
}
.table-head {
  text-transform: uppercase;
}
.games-table .games-table__game-name {
  width: 80%;
  text-align: left;
}
.games-table__game-name span {
  cursor: pointer;
}
.games-table__table-btns {
  max-width: 10%;
}
.games-table {
  width: 100%;
  border-collapse: collapse;
}
.games-table tr {
  border-bottom: 2px solid #20232a;
  transition: 0.3s;
}
.games-table th,
.games-table td {
  padding: 10px 5px;
  text-align: center;
}
.table-btn {
  width: 21px;
  height: 21px;
  border: none;
  border-radius: 4px;
  outline: #20232a;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}
.table-edit-btn {
  background-image: url(./pencil.svg);
}
.table-delete-btn {
  background-image: url(./trash.svg);
}
.table-add-btn {
  background-image: url(./plus.svg);
}
@media (max-width: 620px) {
  .table-edit-btn,
  .table-add-btn {
    display: none;
  }
}
@media (max-width: 455px) {
  .games-table {
    font-size: 14px;
  }
}
@media (max-width: 410px) {
  .games-table {
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  .games-table-title {
    font-size: 20px;
  }
}
