.games-table-wrapper {
  max-width: 1000px;
  padding: 40px;
  margin: 0 auto;
  color: #20232a;
}
.games-table-title {
  text-align: center;
  margin-bottom: 30px;
}
.table-head {
  text-transform: uppercase;
}
.games-table {
  width: 100%;
  border-collapse: collapse;
}
.games-table tr {
  border-bottom: 2px solid #20232a;
  transition: 0.3s;
}
.games-table tr:hover {
}
.games-table th,
.games-table td {
  padding: 10px 5px;
  text-align: center;
}
.table-btn {
  width: 21px;
  height: 21px;
  border: none;
  border-radius: 4px;
  outline: #20232a;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}
.table-edit-btn {
  background-image: url(./pencil.svg);
}
.table-delete-btn {
  background-image: url(./trash.svg);
}
