.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 5px 20px;
  margin: 0 auto;
  background-color: #20232a;
}
.app-logo-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.app-logo-title {
  margin: 0;
  color: #61dbfb;
}
.app-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}
.app-navbar__link {
  color: white;
  transition: 0.3s;
}
.app-navbar__link:hover {
  color: #61dbfb;
}
.app-search input {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #20232a;
  outline-color: #373940;
  color: white;
  transition: 0.3s;
}
.app-search input:hover,
.app-search input:focus {
  background-color: #373940;
}

@media (max-width: 850px) {
  .app-navbar {
    width: 50%;
    margin-left: auto;
  }
  .app-search input {
    display: none;
  }
}
@media (max-width: 550px) {
  .app-navbar {
    flex-direction: column;
    text-align: right;
    padding: 10px 0px;
  }
  .app-navbar li {
    margin-bottom: 5px;
  }
}
