.app-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 25px 20px;
  margin: 0 auto;
  background-color: #20232a;
}
.autor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  color: white;
}
.autor a {
  color: white;
  transition: 0.3s;
}
.autor a:hover {
  color: #61dbfb;
}
.autor p {
  margin: 0;
  margin-bottom: 0px;
}
.footer-title {
  margin-bottom: 0px;
  font-size: 20px;
  text-transform: uppercase;
  color: #999;
}
@media (max-width: 550px) {
  .app-footer .app-logo-wrapper {
    display: none;
  }
}
